body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.all{
    width: 80%;
    background-color: rgb(209, 209, 135);
    padding: 20px;

}
.place{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: red;
    font-weight: 700;
}
.job{
    text-align: center;
    font-style: italic;
    font-size: 17px;
    margin-top: 40px
}
.login{
   
    font-weight: 600;
}
.all-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.all-2{
    display: flex;
    gap: 200px;
}
.all-4{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.all-3{
    display: flex;
    gap: 200px;
}
.login-1{
    font-weight: 600;
    margin-top: 30px;
}
.all-9{
    width: 91.8%;
    display: flex;
    justify-content: space-between;
}
.all-11{
    display: flex;
    gap: 180px;
}
.all-12{
    display: flex;
   gap: 225px;
}
.all-13{
    display: flex;
    gap: 200px;
}
.all-14{
    width: 93.8%;
    display: flex;
    justify-content: space-between;
}
.all-15{
    display: flex;
    gap: 130px;
}
.cat{
   
    display: flex;
    gap: 182px;
}
.held{
    display: flex;
    gap: 187px;
}
.held-3{
    display: flex;
    gap: 185px;
}
#catt{
    width: 170px;
}
#held-5{
    width: 180px;
}
.submit{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


