body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.somto-1{
    background-color: blue;
    padding: 20px;
}
.somto-2{
    font-size: 60px;
    font-weight: 700;
    color: yellow;
    display: flex;
    justify-content: right;
}
.somto img{
    width: 400px;
}
.links{
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 40px 0;
    padding-left: 25px; 
}
.link-1 a{
    color: white;
    font-size: 17px;
}
.link-1:hover{
    background-color: yellow;
    padding: 20px;
    transition: all 1.2s;
}
.meet img{
    width: 100%;
}
#about{
    width: 100%;
}
.what{
    text-align: center;
    color: blue;
    font-size: 60px;
    font-weight: 400;
    margin-top: 50px;
}
.what-1{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 70px;
  
    overflow-x: none;
}
.what-2{
    width: 500px;

}
.what-3{
    color: red;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}
.what-4{
    text-align: center;
    margin-top: 30px;
}
#services{
    width: 100%;
}
.nice img{
    width: 100%;
    height: 500px;
    background-size: cover;
}
.nice{
    margin-top: 60px;
}
#gallery{
    width: 100%;
}
.some{
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
}
.visit{
    margin-top: 90px;
    font-size: 25px;
    text-align: center;
}
#blog{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.soft{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.soft-1{
    display: block;
    width:400px ;
    
}
.soft-2{
    background-color: black;
    color: white;
    padding: 30px 20px;
    text-align: center;

}
.soft-3 img{
    width: 300px;
    background-size: cover;
 

}
.soft-3{
    background-color: aqua;
    width: 340px;
    padding: 30px;
    display: flex;
    justify-content: center;
    
}
.soft-4{
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 20px;
}
