.all{
    width: 100%;
    display: flex;
    justify-content: space-around;
   
}
.all-4{
      width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.all-8{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.all-10{
    display: flex;
    gap: 10px;
    align-items: center;
}
form{
    border: 1px solid red;
    padding: 20px;
   
    
}
span{
    color: red;
}